@font-face {
    font-family : 'icomoon';
    src         : url('../fonts/icomoon.woff?fe0c80') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
}


*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size  : 16px;
}

.container {
    width  : 1140px;
    margin : 0 auto;
    padding: 0 20px;
}

/* icons */

.icon-design::before {
    font-family: icomoon;
    content    : "\e909";
}

.icon-photo::before {
    font-family: icomoon;
    content    : "\e900";
}

.icon-video::before {
    font-family: icomoon;
    content    : "\e907";
}

.icon-pencil::before {
    font-family: icomoon;
    content    : "\e904";
}

.icon-code::before {
    font-family: icomoon;
    content    : "\e90a";
}

.icon-app::before {
    font-family: icomoon;
    content    : "\e909";
}

.icon-right::after {
    font-family: icomoon;
    content    : "\ea3c";
}

.icon-down::before {
    font-family: icomoon;
    content    : "\ea3e";
}

.icon-download::before {
    font-family: icomoon;
    content    : "\e9c5";
}

/* type block styling */
.type {
    color      : #ffffff;
    font-size  : 56px;
    border     : 3px solid #fff;
    display    : inline-block;
    padding    : 0.5em;
    line-height: 1;
    position   : relative;
}

.type::before {
    content    : "";
    width      : 15px;
    height     : 15px;
    position   : absolute;
    top        : 100%;
    left       : 30px;
    border     : 7.5px solid transparent;
    border-top : 7.5px solid #fff;
    border-left: 7.5px solid #fff;
}

/* starter section styling */
.starter {
    height          : 100vh;
    background-color: #020312;
    background-image: url(../img/bg-hero.jpg);
    background-size : cover;
}

.starter__container {
    display    : flex;
    align-items: center;
    position   : relative;
    height     : 100%;
}

.starter__title {
    font-size    : 56px;
    color        : #ffffff;
    margin-bottom: 30px;
}

.starter__social {
    margin-bottom: 30px;
}

.starter__button {
    position: absolute;
    bottom  : 30px;
    left    : 20px;
}


/* header section styling */
.header {
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 53px;
    background-color: #fff;
    z-index         : 999;
}

.header__container {
    display        : flex;
    justify-content: flex-end;
    position       : relative;
}

/* logo block styling */
.logo {
    position        : absolute;
    top             : 22px;
    left            : 20px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 64px;
    height          : 64px;
    text-transform  : uppercase;
    background-color: #f26c4f;
    font-size       : 24px;
    color           : #ffffff;
    line-height     : 1;
}

/* nav block styling */
.nav {}

.nav__list {
    display: flex;
}

.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration    : none;
    font-weight        : 500;
    font-size          : 13px;
    color              : rgba(0, 0, 0, 0.6);
    transition-property: color;
    transition-duration: 0.3s;
    height             : 53px;
    display            : flex;
    align-items        : center;
    padding            : 0px 7px;
}

.nav__link--active {
    color   : rgba(0, 0, 0, 0.9);
    position: relative;
}

.nav__link--active::before {
    content         : "";
    width           : 100%;
    height          : 3px;
    background-color: #f26c4f;
    position        : absolute;
    top             : 0;
    left            : 0;
}

.nav__link:hover {
    color: rgba(0, 0, 0, 0.9);
}

/* social block styling */
.social {}

.social__list {
    display: flex;
}

.social__item {
    list-style: none;
}

.social__item {
    margin-right: 25px;
}

.social__link {
    text-decoration: none;
}

.social__link::before {
    font-family: icomoon;
    color      : #aeaeae;
    font-size  : 20px;
}

.social__link--facebook::before {
    content: "\e901";
}

.social__link--twitter::before {
    content: "\e906";
}

.social__link--pinterest::before {
    content: "\e905";
}

.social__link--vk::before {
    content: "\e908";
}

.social__link--insta::before {
    content: "\e902";
}

/* title block styling */
.title {
    color         : #fff;
    font-size     : 34px;
    text-transform: capitalize;
    font-weight   : 400;
    text-align    : center;
}

/* text block styling */
.text {
    color        : #888;
    font-weight  : 500;
    margin-bottom: 20px;
    transition   : transform 0.3s 0.1s;
}

/* services section styling */
.services {
    background-color: #020312;
    padding         : 100px 0;
}

.services__content {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.services__card {
    width     : calc(33% - 20px);
    margin-top: 90px;
}

.services__card:hover .services__icon,
.services__card:hover .services__subtitle,
.services__card:hover .services__text {
    transform: translateY(-10px);

}

.services__card:hover .services__button {
    width           : 100px;
    transition-delay: 0s;
}

.services__card:hover .services__button::after {
    transform       : translateX(0);
    transition-delay: 0.1s;
}

.services__icon {
    display    : block;
    color      : #f75;
    font-size  : 54px;
    line-height: 1;
    transition : transform 0.3s;
}

.services__subtitle {
    color         : #fff;
    font-size     : 24px;
    font-weight   : 400;
    margin        : 26px 0;
    text-transform: capitalize;
    transition    : transform 0.3s 0.05s;

}

.services__button {
    background      : none;
    border          : none;
    color           : #fff;
    outline         : none;
    cursor          : pointer;
    position        : relative;
    width           : 30px;
    background-color: #020312;
    overflow        : hidden;
    height          : 20px;
    transition      : all 0.3s ease 0.1s;
}

.services__button::before {
    position        : absolute;
    top             : 50%;
    left            : 0;
    height          : 3px;
    background-color: #f75;
    width           : 100%;
    content         : "";
    transform       : translateY(-50%);
}

.services__button::after {
    content         : "read more";
    text-transform  : uppercase;
    position        : absolute;
    top             : 0;
    left            : 0;
    transform       : translateY(-50%);
    background-color: #020312;
    padding         : 0 5px;
    font-size       : 11px;
    font-weight     : 700;
    font-family     : inherit;
    white-space     : nowrap;
    transform       : translateX(-100%);
    transition      : all 0.3s ease;
    height          : 100%;
    display         : flex;
    align-items     : center;
}

.about {
    background-color: #020312;
    padding         : 100px 0;
}

.about__content {
    color     : #fff;
    display   : flex;
    margin-top: 100px;
}

.about__column {
    width: 50%;
}

.about__img {
    display: flex;
    width  : 75%;
}

.about__type {
    font-size     : 24px;
    text-transform: capitalize;
    padding       : 1em;
}

.about__text {
    margin: 30px 0;
}

.about__contacts {
    display      : flex;
    flex-wrap    : wrap;
    border-bottom: 1px solid #333;
    margin-bottom: 30px;
}


.about__contact {
    text-transform: capitalize;
    font-weight   : 600;
    width         : 50%;
    margin-bottom : 20px;
}

.about__contact span {
    color: #f75;
}

.about__buttons {
    display: flex;
}

.about__buttons button {
    margin-right: 20px;
}

/* button block styling */
.button {
    background     : none;
    border         : none;
    outline        : none;
    height         : 50px;
    color          : #fff;
    width          : 150px;
    display        : flex;
    justify-content: flex-end;
    overflow       : hidden;
    cursor         : pointer;
}

.button:hover span {
    transform: translateX(100%);
}

.button span {
    display        : flex;
    min-width      : 100%;
    height         : 100%;
    justify-content: center;
    align-items    : center;
    text-transform : uppercase;
    transition     : transform 0.3s;
    font-weight    : 600;
    font-size      : 12px;
}

.button span::after {
    margin-left: 10px;
    font-size  : 10px;
}

.button span::before {
    margin-right: 10px;
    font-size   : 10px;
}

.button span:first-child {
    background-color: rgb(212, 71, 41);
}

.button span:last-child {
    background-color: #f75;
}

.button--outline span:first-child {
    background-color: #fff;
    color           : #333;
}

.button--outline span:last-child {
    background-color: transparent;
    border          : 2px solid #fff;
}

.button--square {
    width : 75px;
    height: 75px;

}

.button--square span::after {
    margin-left: 0px;
    font-size  : 16px;
}

.button--square span::before {
    margin-right: 0px;
    font-size   : 16px;
}

.button--square span:first-child {
    background-color: transparent;
}

.button--square span:last-child {
    background-color: #f75;
}

/* hero section styling */
.hero {
    background-color: #020312;
    padding         : 80px 0 180px;
}

.hero__container {
    height             : 160px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    position           : relative;
    background-image   : url("../img/bg-keyboard.jpg");
    background-position: center center;
    background-size    : cover;
}

.hero__container::before {
    content         : "";
    width           : 100%;
    height          : 100%;
    position        : absolute;
    left            : 0;
    top             : 0;
    background-color: rgba(2, 3, 18, 0.8);
}

.hero__text {
    color     : #fff;
    text-align: center;
    font-size : 30px;
    position  : relative;
}

.hero__link {
    background-color: #f75;
    color           : #fff;
    padding         : 1em;
    text-decoration : none;
    text-transform  : uppercase;
    font-size       : 14px;
    display         : inline-block;
    font-weight     : 600;
    position        : absolute;
    bottom          : 0;
    left            : 50%;
    transform       : translate(-50%, 50%);
}

.hero__link::before {
    content    : "";
    width      : 12px;
    height     : 12px;
    position   : absolute;
    top        : 100%;
    left       : 20px;
    border     : 6px solid transparent;
    border-top : 6px solid #f75;
    border-left: 6px solid #f75;
    transform  : translateY(-3px);
}