@font-face {
    font-family : 'icomoon';
    src         : url('../fonts/icomoon.woff?fe0c80') format('woff');
    font-weight : normal;
    font-style  : normal;
    font-display: block;
}

:root {
    --white     : #fff;
    --primary   : #020312;
    --secondary : #f75;
    --light-grey: #aeaeae;
    --grey      : #888;
    --dark      : #333;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
}

::before,
::after,
a,
button {
    color: var(--white);
}

html {
    scroll-behavior: smooth;
}

body {
    font-family     : 'Roboto', sans-serif;
    font-weight     : 400;
    line-height     : 1.5;
    font-size       : 16px;
    background-color: var(--primary);
    color           : var(--white);
}

body.lock {
    overflow: hidden;
}

.container {
    width  : 1140px;
    margin : 0 auto;
    padding: 0 20px;
}

/* small */
@media (max-width: 1000px) {
    .container {
        width: 320px;
    }
}

.section {
    padding : 100px 0;
    overflow: hidden;
}

/* icons */

.icon-design::before {
    font-family: icomoon;
    content    : "\e909";
}

.icon-photo::before {
    font-family: icomoon;
    content    : "\e900";
}

.icon-video::before {
    font-family: icomoon;
    content    : "\e907";
}

.icon-pencil::before {
    font-family: icomoon;
    content    : "\e904";
}

.icon-code::before {
    font-family: icomoon;
    content    : "\e90a";
}

.icon-app::before {
    font-family: icomoon;
    content    : "\e909";
}

.icon-right::after {
    font-family: icomoon;
    content    : "\ea3c";
}

.icon-down::before {
    font-family: icomoon;
    content    : "\ea3e";
}

.icon-download::before {
    font-family: icomoon;
    content    : "\e9c5";
}

/* type block styling */
.type {
    font-size  : 56px;
    border     : 3px solid var(--white);
    display    : inline-block;
    padding    : 0.5em;
    line-height: 1;
    position   : relative;
}

.type::before {
    content    : "";
    width      : 15px;
    height     : 15px;
    position   : absolute;
    top        : 100%;
    left       : 30px;
    border     : 7.5px solid transparent;
    border-top : 7.5px solid var(--white);
    border-left: 7.5px solid var(--white);
}

/* button block styling */
.button {
    background     : none;
    border         : none;
    outline        : none;
    height         : 50px;
    width          : 150px;
    display        : flex;
    justify-content: flex-end;
    overflow       : hidden;
    cursor         : pointer;
    text-decoration: none;
}

.button:hover span {
    transform: translateX(100%);
}

.button span {
    display        : flex;
    min-width      : 100%;
    height         : 100%;
    justify-content: center;
    align-items    : center;
    text-transform : uppercase;
    transition     : transform 0.3s;
    font-weight    : 600;
    font-size      : 12px;
}

.button span::after {
    margin-left: 10px;
    font-size  : 10px;
}

.button span::before {
    margin-right: 10px;
    font-size   : 10px;
}

.button span:first-child {
    background-color: rgb(212, 71, 41);
}

.button span:last-child {
    background-color: var(--secondary);
}

.button--outline span:first-child {
    background-color: var(--white);
    color           : var(--dark);
}

.button--outline span:first-child::before {
    color: var(--dark);
}

.button--outline span:last-child {
    background-color: transparent;
    border          : 2px solid var(--white);
}

.button--square {
    width : 75px;
    height: 75px;
}

.button--square span::after {
    margin-left: 0px;
    font-size  : 16px;
}

.button--square span::before {
    margin-right: 0px;
    font-size   : 16px;
}

.button--square span:first-child {
    background-color: transparent;
}

.button--square span:last-child {
    background-color: var(--secondary);
}

/* starter section styling */
.starter {
    height             : 100vh;
    background-image   : url(../img/bg-hero.jpg);
    background-size    : cover;
    background-position: center center;
}

.starter__container {
    display    : flex;
    align-items: center;
    position   : relative;
    height     : 100%;
}

.starter__title {
    font-size    : 56px;
    margin-bottom: 30px;
}

/* small */
@media (max-width: 1000px) {
    .starter__title {
        font-size: 28px;
    }
}

.starter__social {
    margin-bottom: 30px;
}

/* small */
@media (max-width: 1000px) {
    .starter__social {
        margin-bottom: 15px;
    }
}

.starter__button {
    position: absolute;
    bottom  : 30px;
    left    : 20px;
}

/* small */
@media (max-width: 1000px) {
    .starter__button {
        width : 50px;
        height: 50px;
    }
}

.starter__type {}

/* small */
@media (max-width: 1000px) {
    .starter__type {
        font-size: 28px;
    }
}

/* header section styling */
.header {
    position: fixed;
    top     : 0;
    left    : 0;
    width   : 100%;
    height  : 53px;
    z-index : 999;
}

.header::after {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: var(--white);
    box-shadow      : 0 5px 15px rgba(0, 0, 0, 0.6);
    z-index         : 9;
}

.header__container {
    display        : flex;
    justify-content: flex-end;
    align-items    : center;
    position       : relative;
    height         : 100%;
}

/* logo block styling */
.logo {
    position        : absolute;
    top             : 22px;
    left            : 20px;
    display         : flex;
    justify-content : center;
    align-items     : center;
    width           : 64px;
    height          : 64px;
    text-transform  : uppercase;
    background-color: var(--secondary);
    font-size       : 24px;
    line-height     : 1;
    z-index         : 10;
}

/* small */
@media (max-width: 1000px) {
    .logo {
        top: 0;
    }
}

/* burger block styling */
.burger {
    width          : 25px;
    height         : 20px;
    display        : none;
    flex-direction : column;
    justify-content: space-between;
    z-index        : 10;
    cursor         : pointer;
}

/* small */
@media (max-width: 1000px) {
    .burger {
        display: flex;
    }
}

.burger._active .burger__item:nth-child(1) {
    transform: rotate(45deg) translate(7px, 6px);
}

.burger._active .burger__item:nth-child(2) {
    opacity: 0;
}

.burger._active .burger__item:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -6px);
}

.burger__item {
    width              : 100%;
    height             : 2px;
    background-color   : var(--primary);
    transition-property: opacity, transform;
    transition-duration: 0.3s;
}

/* nav block styling */
.nav {
    z-index: 10;
}

/* small */
@media (max-width: 1000px) {
    .nav {
        visibility      : hidden;
        transform       : translateY(-100%);
        transition      : all 0.3s;
        position        : fixed;
        top             : 0;
        left            : 0;
        width           : 100%;
        height          : 100%;
        display         : flex;
        justify-content : center;
        align-items     : center;
        background-color: var(--white);
        padding-top     : 53px;
        z-index         : 5;
    }

    .nav._active {
        visibility: visible;
        transform : translateY(0);
    }

    .nav__list {
        flex-direction: column;
    }

    .nav__item {
        display        : flex;
        justify-content: center;
    }

    .nav__link {
        padding: 10px 0;
        height : auto;
    }
}

.nav__list {
    display: flex;
}

.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration    : none;
    font-weight        : 500;
    font-size          : 13px;
    color              : rgba(0, 0, 0, 0.6);
    transition-property: color;
    transition-duration: 0.3s;
    height             : 53px;
    display            : flex;
    align-items        : center;
    padding            : 0px 7px;
}

.nav__link--active {
    color   : rgba(0, 0, 0, 0.9);
    position: relative;
}

.nav__link--active::before {
    content         : "";
    width           : 100%;
    height          : 3px;
    background-color: var(--secondary);
    position        : absolute;
    top             : 0;
    left            : 0;
}

.nav__link:hover {
    color: rgba(0, 0, 0, 0.9);
}

/* social block styling */
.social {}

.social__list {
    display: flex;
}

.social__item {
    list-style: none;
}

.social__item {
    margin-right: 25px;
}

.social__link {
    text-decoration: none;
}

.social__link::before {
    font-family: icomoon;
    color      : var(--light-grey);
    font-size  : 20px;
}

.social__link--facebook::before {
    content: "\e901";
}

.social__link--twitter::before {
    content: "\e906";
}

.social__link--pinterest::before {
    content: "\e905";
}

.social__link--vk::before {
    content: "\e908";
}

.social__link--insta::before {
    content: "\e902";
}

/* title block styling */
.title {
    font-size     : 34px;
    text-transform: capitalize;
    font-weight   : 400;
    text-align    : center;
}

/* text block styling */
.text {
    color      : var(--grey);
    font-weight: 500;
    transition : transform 0.3s 0.1s;
}

/* services section styling */
.services__content {
    display        : flex;
    flex-wrap      : wrap;
    justify-content: space-between;
}

.services__card {
    width     : calc(33% - 20px);
    margin-top: 90px;
}

.services__card:hover .services__icon,
.services__card:hover .services__subtitle,
.services__card:hover .services__text {
    transform: translateY(-10px);

}

.services__card:hover .services__button {
    width           : 100px;
    transition-delay: 0s;
}

.services__card:hover .services__button::after {
    transform       : translateX(0);
    transition-delay: 0.1s;
}

.services__icon {
    display    : block;
    font-size  : 54px;
    line-height: 1;
    transition : transform 0.3s;
}

.services__icon::before {
    color: var(--secondary);
}

.services__subtitle {
    font-size     : 24px;
    font-weight   : 400;
    margin        : 26px 0;
    text-transform: capitalize;
    transition    : transform 0.3s 0.05s;

}

.services__text {
    margin-bottom: 20px;
}

.services__button {
    background      : none;
    border          : none;
    outline         : none;
    cursor          : pointer;
    position        : relative;
    width           : 30px;
    background-color: var(--primary);
    overflow        : hidden;
    height          : 20px;
    transition      : all 0.3s ease 0.1s;
}

.services__button::before {
    position        : absolute;
    top             : 50%;
    left            : 0;
    height          : 3px;
    background-color: var(--secondary);
    width           : 100%;
    content         : "";
    transform       : translateY(-50%);
}

.services__button::after {
    content         : "read more";
    text-transform  : uppercase;
    position        : absolute;
    top             : 0;
    left            : 0;
    transform       : translateY(-50%);
    background-color: var(--primary);
    padding         : 0 5px;
    font-size       : 11px;
    font-weight     : 700;
    font-family     : inherit;
    white-space     : nowrap;
    transform       : translateX(-100%);
    transition      : all 0.3s ease;
    height          : 100%;
    display         : flex;
    align-items     : center;
}

/* about section styling */
.about__content {
    display   : flex;
    margin-top: 100px;
}

.about__column {
    width: 50%;
}

.about__img {
    display: flex;
    width  : 75%;
}

.about__type {
    font-size     : 24px;
    text-transform: capitalize;
    padding       : 1em;
}

.about__text {
    margin: 30px 0;
}

.about__contacts {
    display      : flex;
    flex-wrap    : wrap;
    border-bottom: 1px solid var(--dark);
    margin-bottom: 30px;
}


.about__contact {
    text-transform: capitalize;
    font-weight   : 600;
    width         : 50%;
    margin-bottom : 20px;
}

.about__contact span {
    color: var(--secondary);
}

.about__buttons {
    display: flex;
}

.about__buttons button {
    margin-right: 20px;
}

/* hero section styling */
.hero {
    padding: 80px 0 180px;
}

.hero__container {
    height             : 160px;
    display            : flex;
    justify-content    : center;
    align-items        : center;
    position           : relative;
    background-image   : url("../img/bg-keyboard.jpg");
    background-position: center center;
    background-size    : cover;
}

.hero__container::before {
    content         : "";
    width           : 100%;
    height          : 100%;
    position        : absolute;
    left            : 0;
    top             : 0;
    background-color: rgba(2, 3, 18, 0.8);
}

.hero__text {
    text-align: center;
    font-size : 30px;
    position  : relative;
}

.hero__link {
    background-color: var(--secondary);
    padding         : 1em;
    text-decoration : none;
    text-transform  : uppercase;
    font-size       : 14px;
    display         : inline-block;
    font-weight     : 600;
    position        : absolute;
    bottom          : 0;
    left            : 50%;
    transform       : translate(-50%, 50%);
}

.hero__link::before {
    content    : "";
    width      : 12px;
    height     : 12px;
    position   : absolute;
    top        : 100%;
    left       : 20px;
    border     : 6px solid transparent;
    border-top : 6px solid var(--secondary);
    border-left: 6px solid var(--secondary);
    transform  : translateY(-3px);
}

/* skills section styling */
.skills__title {
    margin-bottom: 70px;
}

.skills__subtitle {
    font-size     : 24px;
    font-weight   : 400;
    text-transform: capitalize;
    margin-bottom : 25px;
}

.skills__content {
    display        : flex;
    justify-content: space-between;
}

.skills__column {
    width: calc(50% - 20px);
}

.skills__text {
    margin-bottom: 25px;
}

.skills__link {
    text-transform     : uppercase;
    text-decoration    : none;
    font-size          : 14px;
    font-weight        : 600;
    border             : 1px solid var(--white);
    padding            : 1em;
    display            : inline-block;
    transition-property: background-color, color;
    transition-duration: 0.3s;
}

.skills__link:hover {
    background-color: #fff;
    color           : var(--dark);
}

.skills__level {
    margin-bottom: 30px;
}

.skills__level span {
    font-weight  : 400;
    font-size    : 18px;
    margin-bottom: 20px;
    display      : inline-block;
}

.skills__line {
    height          : 3px;
    background-color: var(--secondary);
    position        : relative;
}

.skills__line--100 {
    width: 100%;
}

.skills__line--90 {
    width: 90%;
}

.skills__line--80 {
    width: 80%;
}

.skills__line--60 {
    width: 60%;
}

.skills__line span {
    display  : block;
    margin   : 0;
    border   : 2px solid var(--white);
    font-size: 12px;
    padding  : 0.2em 0.5em;
    position : absolute;
    right    : 0;
    bottom   : 0;
    transform: translate(70%, -15px);
}

.skills__line span::before {
    content    : "";
    width      : 8px;
    height     : 8px;
    position   : absolute;
    top        : 100%;
    left       : 5px;
    border     : 4px solid transparent;
    border-top : 4px solid var(--white);
    border-left: 4px solid var(--white);
}

/* portfolio block styling */
.portfolio__title {
    text-align   : left;
    margin-bottom: 70px;
}

.portfolio__content {
    display        : flex;
    justify-content: space-between;
}

.portfolio__column {
    width: calc(25% - 15px);
}

.portfolio__card {
    position     : relative;
    overflow     : hidden;
    cursor       : pointer;
    margin-bottom: 20px;
}

.portfolio__card:hover .portfolio__card-img {
    transform: rotate(-10deg) scale(1.3);
}

.portfolio__card:hover .portfolio__card-content {
    opacity  : 1;
    transform: scale(1.05);
}

.portfolio__card-img {
    width     : 100%;
    display   : flex;
    transition: transform 0.7s;
}

.portfolio__card-content {
    position           : absolute;
    top                : 0;
    left               : 0;
    width              : 100%;
    height             : 100%;
    background-color   : rgba(0, 0, 0, 0.8);
    display            : flex;
    flex-direction     : column;
    justify-content    : center;
    align-items        : center;
    opacity            : 0;
    transform          : scale(1.3);
    transition-property: opacity, transform;
    transition-duration: 0.5s;
}

.portfolio__card-content span {
    text-transform: capitalize;
}

.portfolio__card-content h3 {
    font-size     : 24px;
    font-weight   : 400;
    text-transform: capitalize;
}

/* statistic block styling */

.statistic {
    background-image   : url("../img/bg-man-sitting.jpg");
    background-size    : cover;
    background-repeat  : no-repeat;
    background-position: center;
    padding            : 120px 0;
}

.statistic__container {
    display        : flex;
    justify-content: space-between;
    padding        : 0 100px;
}

.statistic__item {
    display       : flex;
    flex-direction: column;
    align-items   : center;
}

.statistic__num {
    font-size: 56px;
    color    : var(--secondary);
}

.statistic__text {
    font-weight  : 400;
    font-size    : 18px;
    margin-bottom: 20px;
    text-align   : center;
}