.skills__title {
   margin-bottom: 70px;
}

.skills__subtitle {
   font-size     : 24px;
   font-weight   : 400;
   text-transform: capitalize;
   margin-bottom : 25px;
}

.skills__content {
   display        : flex;
   justify-content: space-between;
}

.skills__column {
   width: calc(50% - 20px);
}

.skills__text {
   margin-bottom: 25px;
}

.skills__link {
   text-transform     : uppercase;
   text-decoration    : none;
   font-size          : 14px;
   font-weight        : 600;
   border             : 1px solid $white;
   padding            : 1em;
   display            : inline-block;
   transition-property: background-color, color;
   transition-duration: 0.3s;
}

.skills__link:hover {
   background-color: #fff;
   color           : $dark;
}

.skills__level {
   margin-bottom: 30px;
}

.skills__level span {
   font-weight  : 400;
   font-size    : 18px;
   margin-bottom: 20px;
   display      : inline-block;
}

.skills__line {
   height          : 3px;
   background-color: $secondary;
   position        : relative;
}

.skills__line--100 {
   width: 100%;
}

.skills__line--90 {
   width: 90%;
}

.skills__line--80 {
   width: 80%;
}

.skills__line--60 {
   width: 60%;
}

.skills__line span {
   display  : block;
   margin   : 0;
   border   : 2px solid $white;
   font-size: 12px;
   padding  : 0.2em 0.5em;
   position : absolute;
   right    : 0;
   bottom   : 0;
   transform: translate(70%, -15px);
}

.skills__line span::before {
   content    : "";
   width      : 8px;
   height     : 8px;
   position   : absolute;
   top        : 100%;
   left       : 5px;
   border     : 4px solid transparent;
   border-top : 4px solid $white;
   border-left: 4px solid $white;
}