.icon-design::before {
   font-family: icomoon;
   content    : "\e909";
}

.icon-photo::before {
   font-family: icomoon;
   content    : "\e900";
}

.icon-video::before {
   font-family: icomoon;
   content    : "\e907";
}

.icon-pencil::before {
   font-family: icomoon;
   content    : "\e904";
}

.icon-code::before {
   font-family: icomoon;
   content    : "\e90a";
}

.icon-app::before {
   font-family: icomoon;
   content    : "\e909";
}

.icon-right::after {
   font-family: icomoon;
   content    : "\ea3c";
}

.icon-down::before {
   font-family: icomoon;
   content    : "\ea3e";
}

.icon-download::before {
   font-family: icomoon;
   content    : "\e9c5";
}