.social {}

.social__list {
    display: flex;
}

.social__item {
    list-style: none;
}

.social__item {
    margin-right: 25px;
}

.social__link {
    text-decoration: none;
}

.social__link::before {
    font-family: icomoon;
    color      : $light-grey;
    font-size  : 20px;
}

.social__link--facebook::before {
    content: "\e901";
}

.social__link--twitter::before {
    content: "\e906";
}

.social__link--pinterest::before {
    content: "\e905";
}

.social__link--vk::before {
    content: "\e908";
}

.social__link--insta::before {
    content: "\e902";
}